.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    
    &--grey {
        background-color: #c9D1D3;
    }

    &--green {
        background-color: #428883;
    }

    &--blue {
        background-color: #64c4ed;
    }

    &--pink {
        background-color: #FFBBCC;
    }
    &--lime {
        background-color: #77e9ae;
    }
    &--purple {
        background-color: #f5b4ef;
    }
    &--black {
        background-color: #7a787c;
    }
    &--red {
        background-color: #f39494;
    }
} 
