.list {
    margin-bottom: 30px;

    &__add-button {
        opacity: 1;
    }


    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;
        margin-bottom: 5px;
    
        &.active {
            background: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
            border-radius: 4px;
        }


        i {
            display: flex;
            margin-right: 10px;
            img {
                width: 50px;
                opacity: 0.6;
            }
        } 
        
    }
}