.tasks {
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #64c4ed;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;

        &:hover {
            img {
                opacity: 0.3;
            }
        }


        img {
            opacity: 0;
            width: 25px;
            cursor: pointer;
            margin-left: 15px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

&__items {
    &-row {
        display: flex;
        align-items: center;
        input {
            margin-left: 15px;
        }
    }
}
    .checkbox {
        input{
            display: none;
        }

        &:hover {
            label{
                background-color: #F2F2F2;
                border-color: #F2F2F2;
                img{
                    opacity: 0.7;
                    width: 10px;
                }
            }
        }
        label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #e8e8e8;
            border-radius: 30px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        img {
            opacity: 0;
        }

        input:checked + label {
            background-color: #4dd599;
            border-color: #4dd599;
            img {
                opacity: 1;
                width: 15px;
            }
        }
    }

}